# Example of reading and writing

## Create table contents from Pandas DataFrame

In [1]:
import numpy as np
import pandas as pd
import pyarrow as pa

In [2]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                   'two': ['foo', 'bar', 'baz'],
                   'three': [True, False, True]})

In [3]:
table = pa.Table.from_pandas(df)

## Write data to parquet file

In [4]:
import pyarrow.parquet as pq

In [6]:
pq.write_table(table, '/tmp/example.parquet')

## Read data from parquet file

In [7]:
table2 = pq.read_table('/tmp/example.parquet')

In [8]:
table2.to_pandas()

   one  three  two
0 -1.0   True  foo
1  NaN  False  bar
2  2.5   True  baz